[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
h5py = "==2.9.0"
ipykernel = "==5.1.0"
ipython = "==7.16.3"
jupyter = "==1.0.0"
jupyterlab = "==0.35.4"
matplotlib = "==3.1.0"
numpy = "==1.16.2"
pandas = "==0.24.2"
scikit-learn = "==0.20.3"
scipy = "==1.2.1"
seaborn = "==0.9.0"
tensorflow = "==1.13.1"
Keras = "==2.2.4"
xgboost = "*"
spacy = "*"

[requires]
python_version = "3.7"
